<!--COMP 229-005 Assignment 2-->
<!--Author: Camila Nieto-->
<!--ID: 301175110-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
